<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
@model MusicLibraryTest2.Models.LoginModel

@{
    ViewBag.Title = "Login Page";
}

@Html.Action("ShowNavbar", "Home")

@using (Html.BeginForm("SubmitCredentials", "Home", FormMethod.Post))
{
    @Html.LabelFor(m => m.UserName)
    <br>
    @Html.TextBoxFor(model => model.UserName)
    <br>
    @Html.LabelFor(m => m.Password)
    <br>
    @Html.PasswordFor(model => model.Password)
    <br>
    <input id="Submit" type="submit" value="Log In" />
    <br>
}

@using (Html.BeginForm("SignUpForm", "Home", FormMethod.Post))
{
    <input id="Submit" type="submit" value="Sign Up" />
    <br>
}

@if (Model != null && !Model.ValidCredentials)
{
    <p class="has-error">Username or Password is not valid</p>
}


