@model MusicLibraryTest2.Models.SongModels

@foreach (var song in Model.SongList)
 {
<div class="songBox" id="songBox-@song.Id">

    <span class="report-head">Title: </span>
    <span class="report-body">@song.Title</span>
    <br />
    <br />
    <span class="report-head">Genre: </span>
    <span class="report-body"> @song.Genre</span>
    <br />
    <br />
    <span class="report-head">Artist: </span>
    <span class="report-body">@song.Artist</span>
    <br />
    <br />

    @if (song.AlbumName != null)
    {
        <span class="report-head">Album: </span>
        <span class="report-body">@song.AlbumName</span>
        <br />
        <br />
    }

    <span class="report-head"> Likes: </span>
    <span class="likes-count report-body" data-song-likes-id="@song.Id">
        @song.Likes
    </span>
    <br />
    <br />

    <span class="report-head"> Views: </span>
    <span class="views-count report-body" data-song-views-id="@song.Id">
        @song.Views
    </span>
    <br />
    <br />

    <span class="load-song toggle-button sub-toggle" data-song-likes-id="@song.Id">
        <span class="triangle song-unloaded"></span>
        Load Player
    </span>

    <br />
    <br />

    <div class="songs toggle-container sub-container" id="song-@song.Id"></div>

    @if (song.LikedByUser != null && !(bool)song.LikedByUser)
    {
        <button class="like-button" data-song-id="@song.Id">
            <i class="unclicked-icon fa-regular fa-thumbs-up"></i>
        </button>
    }
    else if (song.LikedByUser != null)
    {
        <button class="already-liked">
            <i class="fa-solid fa-thumbs-up"></i>
        </button>
    }

    @if (song.UserFollowingArtist != null && !(bool)song.UserFollowingArtist)
    {
        <button class="follow-button" data-artist-name="@song.Artist">
            <i class="unclicked-icon fa-solid fa-user-group"></i>
        </button>
    }
    else if (song.UserFollowingArtist != null)
    {
        <button class="not-following">
            <i class="fa-solid fa-user-group"></i>
        </button>
    }

    <button class="add-button" data-playlist-song-id="@song.Id">
        <i class="fa-regular fa-square-plus"></i>
    </button>

    <div class="playlistList toggle-container sub-container" id="playlist-@song.Id"></div>

    @if (song.UserIsArtist != null && (bool)song.UserIsArtist)
    {
        <button class="archive-button" data-archive-song-id="@song.Id">
            <i class="fa-solid fa-square-xmark unclicked-icon"></i>
        </button>
    }

    <div class="archive-button-box toggle-container sub-container" id="archive-@song.Id"></div>

</div>
 }

<script src="https://kit.fontawesome.com/0baa800b55.js" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {

        $('.like-button').click(function () {
            
            var songLikesId = $(this).data('song-id');
            var button = $(this);
            if (button.find('.fa-regular').length > 0) {
                 $.ajax({
                    url: '/Home/AddLike',
                    type: 'GET',
                     data: { songId: songLikesId },
                     success: function (data) {
                         button.find('.fa-thumbs-up').removeClass('fa-regular');
                         button.find('.fa-thumbs-up').addClass('fa-solid');
                         $('.likes-count[data-song-likes-id="' + songLikesId + '"]').text(data);
                     }
                 });
            }
        });
        $('.follow-button').click(function () {

            var artistName = $(this).data('artist-name');
            var followButton = $(this);
            if (followButton.find('.unclicked-icon').length > 0) {
                $.ajax({
                    url: '/Home/FollowArtist',
                    type: 'GET',
                    data: { artistName: artistName },
                    success: function (data) {
                        followButton.find('.unclicked-icon').removeClass('unclicked-icon');
                    }
                });
            }
        });

        $('.load-song').click(function () {

            var songLoaded = false;
            var songId = $(this).data('song-likes-id');
            var loadButton = $(this);
            var $songsContainer = $('#song-' + songId);

            if (loadButton.find('.song-unloaded').length > 0) {
                $.ajax({
                    url: '/Home/LoadSong',
                    type: 'GET',
                    data: { songId: songId },
                    success: function (data) {
                        $songsContainer.html(data);
                    }
                });
                $.ajax({
                    url: '/Home/AddView',
                    type: 'GET',
                    data: { songId: songId },
                    success: function (data) {
                        loadButton.find('.song-unloaded').removeClass('song-unloaded');
                        $('.views-count[data-song-views-id="' + songId + '"]').text(data);
                    }
                });
            }

            $(this).find('.triangle').toggleClass('rotate');
            $songsContainer.toggle();
        });


        $('.add-button').click(function () {
            var playlistListLoaded = false;
            var playlistSongId = $(this).data('playlist-song-id');
            var $playlistListContainer = $('#playlist-' + playlistSongId);
            var button = $(this);

            if (!playlistListLoaded) {
                $.ajax({
                    url: '/Home/AddToPlaylistForm',
                    type: 'GET',
                    data: { songId: playlistSongId },
                    success: function (data) {
                        $playlistListContainer.html(data);
                        playlistListLoaded = true;
                        button.addClass('add-button-glow');

                        setTimeout(function () {
                            button.addClass('add-button-glow');
                        }, 500);

                        button.addClass('add-button-fade');

                        setTimeout(function () {
                            button.addClass('add-button-fade');
                        }, 500);
                    }
                });
            }

            $playlistListContainer.toggle();
        });

        $('.archive-button').click(function () {

            var button = $(this);
            var songArchiveId = $(this).data('archive-song-id');
            var $songBox = $('#songBox-' + songArchiveId);
                 $.ajax({
                     url: '/ArtistPages/ArchiveSong',
                    type: 'GET',
                     data: { songId: songArchiveId },
                     success: function (data) {

                         button.find('.unclicked-icon').removeClass('unclicked-icon');
                         setTimeout(function () {
                             button.find('.unclicked-icon').removeClass('unclicked-icon');
                         }, 1000);
                         $songBox.toggle();
                     }
                 });
        });
    });
</script>