@model MusicLibraryTest2.Models.SongModels

@foreach (var song in Model.SongList)
 {
    <div class="songBox">

        <p>Title: @song.Title</p>
        <p>Genre: @song.Genre</p>
        <p>Artist: @song.Artist</p>

        @if (song.AlbumName != null)
        {
            <p>Album: @song.AlbumName</p>
        }

        <p>
            <span> Likes: </span>
            <span class="likes-count" data-song-likes-id="@song.Id">
                @song.Likes
            </span>
        </p>

        <span> Views: </span>
        <span class="views-count" data-song-views-id="@song.Id">
            @song.Views
        </span>

        <br />
        <br />

        <span class="load-song toggle-button sub-toggle" data-song-likes-id="@song.Id">
            <span class="triangle"></span>
            Load Player
        </span>

        <br />
        <br />

        <div class="songs toggle-container sub-container" id="song-@song.Id"></div>

        @if (!song.LikedByUser)
        {
            <button class="like-button" data-song-id="@song.Id">
                <i class="fa-regular fa-thumbs-up"></i>
            </button>
        }
        else
        {
            <button class="already-liked">
                <i class="fa-solid fa-thumbs-up"></i>
            </button>
        }
        @if (!song.UserFollowingArtist)
        {
            <button class="follow-button" data-artist-name="@song.Artist">
                <i class="fa-solid fa-user-group unclicked-icon"></i>
            </button>
        }
        else
        {
            <button class="follow-button not-following" data-artist-name="@song.Artist">
                <i class="fa-solid fa-user-group"></i>
            </button>
        }

        <button class="add-button" data-playlist-song-id="@song.Id">
            <i class="fa-regular fa-square-plus"></i>
        </button>

        <div class="playlistList toggle-container sub-container" id="playlist-@song.Id"></div>

    </div>
 }

<script src="https://kit.fontawesome.com/0baa800b55.js" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {

        $('.like-button').click(function () {
            
            var songLikesId = $(this).data('song-id');
            var button = $(this);
            if (button.find('.fa-regular').length > 0) {
                 $.ajax({
                    url: '/Home/AddLike',
                    type: 'GET',
                     data: { songId: songLikesId },
                     success: function (data) {
                         button.find('.fa-thumbs-up').removeClass('fa-regular');
                         button.find('.fa-thumbs-up').addClass('fa-solid');
                         $('.likes-count[data-song-likes-id="' + songLikesId + '"]').text(data);
                     }
                 });
            }
        });

        $('.load-song').click(function () {

            var songLoaded = false;
            var songId = $(this).data('song-likes-id');
            var loadButton = $(this);
            var $songsContainer = $('#song-' + songId);

            console.log(loadButton.find('.song-loaded').length);

            if (loadButton.find('.song-loaded').length < 1) {
                $.ajax({
                    url: '/Home/LoadSong',
                    type: 'GET',
                    data: { songId: songId },
                    success: function (data) {
                        $songsContainer.html(data);
                    }
                });
                $.ajax({
                    url: '/Home/AddView',
                    type: 'GET',
                    data: { songId: songId },
                    success: function (data) {
                        loadButton.find('.load-song').addClass('song-loaded');
                        $('.views-count[data-song-views-id="' + songId + '"]').text(data);
                    }
                });
            }

            $(this).find('.triangle').toggleClass('rotate');
            $songsContainer.toggle();
        });


        $('.add-button').click(function () {
            var playlistListLoaded = false;
            var playlistSongId = $(this).data('playlist-song-id');
            var $playlistListContainer = $('#playlist-' + playlistSongId);
            var button = $(this);

            if (!playlistListLoaded) {
                $.ajax({
                    url: '/Home/AddToPlaylistForm',
                    type: 'GET',
                    data: { songId: playlistSongId },
                    success: function (data) {
                        $playlistListContainer.html(data);
                        playlistListLoaded = true;
                        button.addClass('add-button-glow');

                        setTimeout(function () {
                            button.addClass('add-button-glow');
                        }, 500);

                        button.addClass('add-button-fade');

                        setTimeout(function () {
                            button.addClass('add-button-fade');
                        }, 500);
                    }
                });
            }

            $playlistListContainer.toggle();
        });

        $('.follow-button').click(function () {

            var artistName = $(this).data('artist-name');
            var followButton = $(this);
            console.log(followButton.find('.not-following').length > 0);
            if (followButton.find('.not-following').length < 0) {
                $.ajax({
                    url: '/Home/FollowArtist',
                    type: 'GET',
                    data: { artistName: artistName },
                    success: function (data) {
                        $followButton.html(data);
                        followButton.find('.follow-button').removeClass('not-following');
                    }
                });
            }
        });
    });
</script>