@model MusicLibraryTest2.Models.AlbumModels

@foreach (var album in Model.Albums)
 {
    <div class="info-box">
        <dl>
            <dt>Album:</dt>
            <dd>@album.Title</dd>
            <dt>Artist:</dt>
            <dd>@album.ArtistName</dd>
            <dt>Genre:</dt>
            <dd>@album.Genre</dd>
            <dt>Release Date:</dt>
            <dd>@album.ReleaseDate</dd>
        </dl>

        @if (album.Description != null)
        {
        <h4>Description</h4>
        <p>@album.Description</p>
        }

        <span class="load-songs toggle-button sub-toggle " data-album-id="@album.Id">
            <span class="triangle"></span>
            Load Songs
        </span>

        <div class="songs toggle-container sub-container" id="album-@album.Id"></div>
    </div>

 }

<script>
    $(document).ready(function () {

       $('.load-songs').click(function () {
            var albumId = $(this).data('album-id');
            var $albumSongsContainer = $('#album-' + albumId);


            if (true) {

                $.ajax({
                    url: '/ArtistPages/GetAlbumSongs',
                    type: 'GET',
                    data: { albumId: albumId },
                    success: function (result) {
                        $albumSongsContainer.html(result);
                    }
                });
            }

            $(this).find('.triangle').toggleClass('rotate');
           $albumSongsContainer.toggle();
        });
    });
</script>
